page-my-space {
  height: 100%;
  padding: 0;
  flex-wrap: wrap;

  .avatar {
    height: 45%;
    padding-top: 20px;
    text-align: center;

    .thumb {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      margin-bottom: 20px;
      padding: 0.4rem;
      border-radius: 100%;

      .emotion {
        float: left;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 10px;

      }

      img {
        border-radius: 100%;
      }
    }

    .name {
      font-weight: bold;
      font-size: 2.3rem;
      color: $text-secondary;
    }

    .type {
      font-size: 1.6rem;
      color: $text-primary;
    }

  }

  .grid-full {
    height: 55%;
    text-align: center;

    ion-row {
      height: 50%;
      color: #FFF;

      ion-col {
        padding-top: 2%;
        padding-bottom: 2%;
      }

      ion-icon {
        font-size: 4rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .calendar {
      background: $my-space-red;
    }

    .doctors {
      background: $my-space-blue
    }

    .medicines {
      background: $my-space-yellow;
    }

    .notes {
      background: $my-space-green;
    }
  }

}

page-my-space-medicines {
  p {
    font-size: 1.8rem;
    text-align: center;
  }

  ion-item {
    p {
      font-size: 1.8rem !important;
      color: $text-primary !important;
    }
  }
  .title {
    color: $text-secondary;
  }

  ion-grid {
    padding: 0;
  }

  .add {
    width: 150px;
    margin: auto;
    text-align: center;
    color: $background-blue;
    font-size: 1.8rem;

    ion-icon {
      position: relative;
      top: 5px;
      left: 5px;
      font-size: 26px;
    }
  }

  .arrow {
    color: $text-primary;
    display: block;
    float: right;
  }
}

page-my-space-doctors, page-my-space-doctors-event {
  .add {
    width: 150px;
    margin: auto;
    text-align: center;
    color: $background-blue;
    font-size: 1.8rem;

    ion-icon {
      position: relative;
      top: 5px;
      left: 5px;
      font-size: 26px;
    }
  }
}
