page-my-space {
  .avatar {
    text-align: center;
    margin-top: 30px;

    .thumb {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      margin-bottom: 20px;
      padding: 0.4rem;
      border-radius: 100%;

      .emotion {
        float: left;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 10px;

      }

      img {
        border-radius: 100%;
      }
    }

    .name {
      font-size: 2rem;
      color: $text-primary;
    }

  }

  .content {
    margin-top: 20px;
    padding-bottom: 20px;
    background: #FFF;
    text-align: center;

    .icon {
      font-size: 4rem;
      color: $text-secondary;
    }

    p {
      font-size: 2rem;
      color: $text-primary;
    }
  }
}

page-my-space-medicines {
  p {
    font-size: 1.8rem;
    text-align: center;
  }

  ion-item {
    p {
      font-size: 1.8rem !important;
      color: $text-primary !important;
    }
  }
  .title {
    color: $text-secondary;
  }

  ion-grid {
    padding: 0;
  }

  .add {
    width: 150px;
    margin: auto;
    text-align: center;
    color: $background-blue;
    font-size: 1.8rem;

    ion-icon {
      position: relative;
      top: 5px;
      left: 5px;
      font-size: 26px;
    }
  }

  .arrow {
    color: $text-primary;
    display: block;
    float: right;
  }
}

page-my-space-doctors {
  .add {
    width: 150px;
    margin: auto;
    text-align: center;
    color: $background-blue;
    font-size: 1.8rem;

    ion-icon {
      position: relative;
      top: 5px;
      left: 5px;
      font-size: 26px;
    }
  }
}
