.my-space-add-button {
  float: right;
  margin-bottom: 5px;
  font-size: 1.8rem;
  button {
    width: 25px;
    height: 25px;
    box-shadow: none;

    ion-icon {
      font-size: 1.8rem;
    }
  }
}

.my-space-list {
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px #DDD;
  font-size: 1.7rem;
  .header {
    display: inline-flex;
    width: 100%;
    padding-top: 3px;
    padding-left: 3px;
    color: #FFF;
    font-weight: bold;
    h5 {
      margin-left: 5px;
      margin-top: 5px;
    }
    .title {
      padding-left: 5px;
    }
    .subtitle {
      padding-left: 5px;
      padding-bottom: 5px;
      font-size: 1.4rem;
    }
  }
  .content {
    display: inline-flex;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    color: $text-primary;
    ul {
      margin: 0;
      padding-left: 25px;
      padding-bottom: 10px;
      li {
        padding-top: 6px;
      }
    }
    p {
      margin-left: 5px;
    }
    .highlight {
      color: $background-color-blue;
    }
  }
  .container {
    width: 100%;
    text-align: left;
  }
  .obs {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #888;
  }
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: relative;
    right: 10px;
    font-size: 1.3rem;
  }
  .medicines {
    background: $medicines-color;
  }
  .doctors {
    background: $doctors-color;
  }
  .notes {
    background: $notes-color;
  }
}

page-my-space {
  height: 100%;
  padding: 0;
  flex-wrap: wrap;
  .avatar {
    height: 45%;
    padding-top: 20px;
    text-align: center;
    .thumb {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      margin-bottom: 20px;
      padding: 0.4rem;
      border-radius: 100%;
      .emotion {
        float: left;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 10px;
      }
      img {
        padding: 5px;
        border-radius: 100%;
      }
    }
    .name {
      font-weight: bold;
      font-size: 2.3rem;
      color: $text-secondary;
    }
    .type {
      font-size: 1.6rem;
      color: $text-primary;
    }
  }

  .cards {
    position: relative;
    height: 55%;
    font-size: $font-size;
    color: #FFF;
    div {
      position: relative;
      float: left;
      width: 50%;
      height: 50%;
      text-align: center;
      > div {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: $spacing-elements / 2;
        > * {
          margin: 0;
          padding: 0;
        }
      }
      p {
        color: #FFF;
      }
    }
    .calendar {
      background: $calendar-color;
    }
    .doctors {
      background: $doctors-color
    }
    .medicines {
      background: $medicines-color;
    }
    .notes {
      background: $notes-color;
    }
  }
}
