.my-space-add-button {
  float: right;
  margin-bottom: 5px;
  font-size: 1.8rem;

  button {
    width: 25px;
    height: 25px;
    box-shadow: none;

    ion-icon {
      font-size: 1.8rem;
    }
  }
}

.my-space-list {
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px #DDD;
  font-size: 1.7rem;

  .header {
    display: inline-flex;
    width: 100%;
    padding-top: 3px;
    padding-left: 3px;
    color: #FFF;
    font-weight: bold;

    .title {
      padding-left: 5px;
    }

    .subtitle {
      padding-left: 5px;
      padding-bottom: 5px;
      font-size: 1.4rem;
    }
  }

  .content {
    display: inline-flex;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    color: $text-primary;

    ul {
      margin: 0;
      padding: 25px;
    }

    .highlight {
      color: $background-blue;
    }
  }

  .container {
    width: 100%;
    text-align: left;
  }

  .obs {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #888;
  }

  .icon {
    text-align: right;
    position: relative;
    right: 10px;
    top: 5px;
    font-size: 1.3rem;
  }

  .medicines {
    background: $my-space-yellow;
  }

  .doctors {
    background: $my-space-blue;
  }
}


page-my-space {
  height: 100%;
  padding: 0;
  flex-wrap: wrap;

  .avatar {
    height: 45%;
    padding-top: 20px;
    text-align: center;

    .thumb {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      margin-bottom: 20px;
      padding: 0.4rem;
      border-radius: 100%;

      .emotion {
        float: left;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 10px;

      }

      img {
        border-radius: 100%;
      }
    }

    .name {
      font-weight: bold;
      font-size: 2.3rem;
      color: $text-secondary;
    }

    .type {
      font-size: 1.6rem;
      color: $text-primary;
    }

  }

  .grid-full {
    height: 55%;
    text-align: center;

    ion-row {
      height: 50%;
      color: #FFF;

      ion-col {
        padding-top: 2%;
        padding-bottom: 2%;
      }

      ion-icon {
        font-size: 4rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .calendar {
      background: $my-space-red;
    }

    .doctors {
      background: $my-space-blue
    }

    .medicines {
      background: $my-space-yellow;
    }

    .notes {
      background: $my-space-green;
    }
  }
}

page-my-space-doctors-event {
  .add {
    margin-top: 10px;
    text-align: center;
    color: $background-blue;
  }

  select {
    margin-top: 10px;
  }

  ion-icon[name="close"] {
    margin-top: 7px;
    font-size: 2.5rem;
  }
}
