<ion-content padding class="login">
  <div class="parent">
    <div [hidden]="ctrlLogo" class="logo">
      <!-- <img src="./build/images/logo.jpg"> -->
    </div>

    <div class="form">
        <div padding>
          <ion-segment [(ngModel)]="authType" dark>
            <ion-segment-button value="login" (click)="ctrlLogo = false" checked>
              Login
            </ion-segment-button>
            <ion-segment-button value="signup" (click)="ctrlLogo = true">
              Cadastre-se
            </ion-segment-button>
          </ion-segment>
        </div>

        <!-- =============== SINGIN =============== -->
        <div [ngSwitch]="authType">
          <form *ngSwitchCase="'login'" [formGroup]="formLogin" (ngSubmit)="login(formLogin.value)">
            <ion-item>
              <ion-label stacked> E-mail </ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="formLogin.controls.email.errors && formLogin.controls.email.touched"> Este campo é necessário </div>

            <ion-item>
              <ion-label stacked> Senha </ion-label>
              <ion-input type="password"  formControlName="pass"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="formLogin.controls.email.errors && formLogin.controls.pass.touched"> Este campo é necessário e deve conter 6 digitos </div>

            <div padding>
              <button full dark [disabled]="!formLogin.valid"> Login </button>
            </div>
          </form>

          <!-- =============== SINGUP =============== -->
          <form *ngSwitchCase="'signup'" [formGroup]="formSignup" (ngSubmit)="signup(formSignup.value)">
            <ion-item>
              <ion-label stacked> Nome </ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="formSignup.controls.name.erros && formSignup.controls.name.touched"> Este campo é necessário </div>

            <ion-item>
              <ion-label stacked> E-mail </ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="formSignup.controls.email.erros && formSignup.controls.email.touched"> Este campo é necessário </div>

            <ion-item>
              <ion-label stacked> Senha </ion-label>
              <ion-input type="password" formControlName="pass"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="formSignup.controls.pass.erros && formSignup.controls.pass.touched"> Este campo é necessário e deve conter 6 digitos </div>

            <ion-item>
              <ion-label stacked> Confirmar senha </ion-label>
              <ion-input type="password" formControlName="passConfirm"></ion-input>
            </ion-item>
            <div class="error-field" *ngIf="formSignup.controls.passConfirm.erros && formSignup.controls.passConfirm.touched"> Este campo é necessário e deve conter 6 digitos </div>

            <div padding>
              <button full dark [disabled]="!formSignup.valid"> Cadastre-se </button>
            </div>
          </form>
        </div>

        <div padding>
          <button (click)="loginFacebook()" full facebook> <ion-icon name="logo-facebook"></ion-icon> Facebook </button>
        </div>

        <div padding>
           <p *ngIf="error" class="error">{{ error._body }}</p>
        </div>
    </div>
  </div>
</ion-content>
