page-login {
  position: relative;

    .parent {
      position: absolute;
      width: 250px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

     .logo {
       width: 250px;
       margin: auto;

        img {
          display: block;
          margin: auto;
        }
      }

      .form {
        margin: auto;
        margin-top: 30px;

        ion-item {
          padding-right: 16px;
        }
      }

      .buttons {
        padding: 16px;
      }
    }

}
