.trinity-card {
  padding: ($spacing-elements / 2) 0;
  margin: ($spacing-elements / 2) 0;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  background-color: #FFF;
  .emotion {
    width: 100%;
    text-align: center;
    > * {
      display: inline-block;
      vertical-align: middle;
      padding: 0 $spacing-elements / 2;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .trinity {
    * {
      margin: 0;
      padding: 0;
    }
    .avatar {
      figure {
        max-width: 120px;
        padding: $spacing-elements / 3;
        border-radius: 100%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          border-radius: 100%;
        }
      }
    }
    .main-datas {
      padding: $spacing-elements;
      ion-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .description {
        padding: 0 $spacing-elements;
      }
      .others {
        display: flex;
        align-items: center;
        text-align: center;
        img {
          width: 30px;
          height: 30px;
        }
      }
      p {
        margin-top: $spacing-elements / 2;
      }
    }
    .sub-datas {
      padding: $spacing-elements;
      padding-bottom: 0;
      h2 {
        font-size: $font-size / 1.10;
      }
      h5 {
        font-size: $font-size / 1.50;
      }
      button {
        display: block;
        color: $text-primary;
        margin: 0 auto;
      }
      .avatar {
        margin: auto;
        > * {
          display: inline-block;
          vertical-align: middle;
        }
        figure {
          padding: 2px;
          max-width: 35px;
          max-height: 35px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      p {
        text-align: center;
      }
    }
    ion-icon {
      color: $text-primary
    }
  }
}

page-visitor {
  input {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border: none;
    font-style: 22px;
  }
  p {
    font-size: $font-size;
    text-align: center;
    line-height: 20px;
  }
}
