.auth {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #f2e3fc;
  .auth-button {
    width: 100%;
    margin: $spacing-elements 0;
    padding: $spacing-elements 0;
    border-radius: 20px;
    background-color: #6cc1b3;
    text-transform: uppercase;
    color: #FFFFFF;
    ion-icon {
      margin-right: 5px;
    }
  }
  figure {
    margin: 0;
    padding: $spacing-elements * 3;
  }
  .description {
    text-align: center;
  }
  .speech-bubble {
    position: relative;
    padding: $spacing-elements;
    background-color: #FFFFFF;
    border-radius: 5px;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      border-right: 15px solid #FFF;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;

    }
  }
  .form-header {
    border-bottom: solid 3px darken(#f2e3fc, 60%);
    text-align: center;
    > * {
      color: darken(#f2e3fc, 60%);
    }
  }
  .item-md, .item-ios {
    background-color: transparent;
    margin: $spacing-elements 0;
    padding: 0px;
    .item-inner {
      border-bottom-color: darken(#f2e3fc, 60%);
    }
  }
  .facebook {
    background-color: #3a5897;
    text-transform: none;
  }

}
