.auth {
  $color-main: #f2e3fc;
  $color-main-dark: rgb(184, 104, 243);
  background-color: $color-main;
  color: $text-primary;
  img {
    max-height: 200px;
  }
  ion-col {
    padding-top: 0px;
    padding-bottom: 0px;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
  }
  ion-datetime {
    padding: 0;
  }
  ion-select {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .item-md, .item-ios {
    background-color: transparent;
    margin: 0;
    padding: 0px;
    .item-inner {
      border-bottom-color: darken($color-main, 60%);
    }
  }
  .description {
    text-align: center;
  }
  .auth-button {
    width: 100%;
    margin: $spacing-elements 0;
    padding: $spacing-elements;
    border-radius: 20px;
    background-color: #6cc1b3;
    text-transform: uppercase;
    line-height: 20px;
    color: #FFFFFF;
    ion-icon {
      margin-right: 5px;
    }
  }
  .checkbox-group {
    ion-label {
      font-size: $font-size / 1.3;
    }
    ion-checkbox {
      margin-right: 8px;
      margin-left: 8px;
    }
    .item-inner {
      border-bottom-color: transparent;
      text-transform: uppercase;
      color: #656565;
      font-weight: bold;
    }
    .checkbox-icon {
      background-color: transparent;
      border-width: 2px;
      border-color: #787878;
    }
    .checkbox-checked {
      border-color: $color-main-dark;
      background-color: $color-main-dark;
    }
  }
  .radio-group {
    text-transform: uppercase;
    text-align: center;
    p {
      margin: 0;
      color: #656565;
      font-weight: bold;
    }
    .radio-group-header {
      p {
        font-size: 10px;
        color: $text-primary;
        margin: 5px 0;
      }
    }
    .radio-md {
      .radio-checked {
        border-color: $color-main-dark;
        .radio-inner {
          background-color: $color-main-dark;
        }
      }
    }
    ion-col {
      padding: $spacing-elements 0;
      &:nth-child(3) {
        padding-left: 5px;
        text-align: left;
      }
    }
  }
  .simple-radio-button {
    width: 15px;
    height: 15px;
    border: 2px solid $color-main-dark;
    border-radius: 100%;
    background-color: transparent;
  }
  .simple-radio-button-selected {
    background-color: $color-main-dark;
  }
  .speech-bubble {
    position: relative;
    padding: $spacing-elements;
    border-radius: 10px;
    border: 3px darken($color-main, 60%) solid;
    color: darken($color-main, 60%);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      border-right: 15px solid darken($color-main, 60%);
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;

    }
  }
  .form-header {
    margin: 5px 0;
    border-bottom: solid 3px darken($color-main, 60%);
    text-align: center;
    > * {
      color: darken(#f2e3fc, 60%);
    }
  }
  .facebook {
    background-color: #3a5897;
    text-transform: none;
  }
  .purple {
    background-color: $color-main-dark;
  }

}
