@font-face {
  font-family: 'lato';
  src: url('#{$font-path}/Lato-Regular.woff?ngpcqs') format('woff'),
       url('#{$font-path}/Lato-Regular.woff2?ngpcqs') format('woff2');
  font-weight: normal;
  font-style: normal;
}
