<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
     <ion-icon  name="menu"></ion-icon>
    </button>
    <ion-title> Meu contatos médicos </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-dark" padding>
  <div class="my-space-add-button">
    <button ion-button icon-only round (click)="newEvent()">
      <ion-icon name="add"> </ion-icon>
    </button>
   </div>
  <div class="my-space-list" *ngFor="let doctor of doctors | async">
    <div class="header doctors">
      <div class="container" (click)="editEvent(doctor)">
        <div class="title"> {{ doctor.name }} </div>
        <div class="subtitle"> {{ doctor.speciality }} </div>
      </div>
      <div class="icon" (click)="removeEvent(doctor)"> <ion-icon name="md-close"> </ion-icon> </div>
    </div>
    <div class="content" (click)="editEvent(doctor)">
      <div class="container">
        <ul>
          <li *ngFor="let phone of doctor.phones"> {{ phone.type }} : {{ phone.number }} </li>
          <li> celular : 3330-5566 </li>
          <li> E-mail : {{ doctor.email }}</li>
          <li> Endereço: {{ doctor.address }} </li>
        </ul>
      </div>
      <div class="icon"> <ion-icon name="ios-arrow-forward"> </ion-icon> </div>
    </div>
  </div>
</ion-content>
