.chat {
  background: rgb(227, 224, 230);

  .clear {
    clear: both;
  }

  .message {
    font-size: 1.6rem;
    .message1 {
      display: block;
      background: #FFF;
      max-width: 80%;
      margin: 0 0 0.5em;
      border-radius: 1em;
      padding: 0.5em 1em;
      float: left;
      line-height: 2rem;
      color: #696969;
    }
    .message2 {
      display: block;
      background: $background-color-main;
      max-width: 80%;
      margin: 0 0 0.5em;
      border-radius: 1em;
      padding: 0.5em 1em;
      float: right;
      line-height: 2rem;
      color: #FFF;
    }
    .message-status {
      display: block;
      background: $background-color-blue;
      max-width: 100%;
      margin: 0 0 0.5em;
      border-radius: 1em;
      padding: 0.5em 1em;
      line-height: 2.7rem;
      color: #FFF;
      text-align: center;
      font-size: 2rem;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .thumb1 {
      background: #FFF;
      padding: 1em;
      margin: 0 0 0.5em;
      border-radius: 1em;
    }
    .thumb2 {
      background: #9170b1;
      padding: 0.8em;
      margin: 0 0 0.5em;
      border-radius: 1em;
    }
  }
  ion-icon {
    text-align: center;
    color: #696969;
    display: block;
    font-size: 2.8rem;
    margin-top: 1rem;
  }
  ion-input {
    display: block;
    width: 100%;
    resize: none;
    border: none;
    background: #FFF;
    border-radius: 0.3em;
  }
  .footer {
    padding-right: 10px;
    padding-left: 10px;
    button {
      background: $background-color-blue;
      ion-icon {
        color: #FFF;
        margin-bottom: 5px;
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}
