.chat {
  background-image: url('../assets/images/background-image-chat.svg');
  background-repeat: repeat;
  ion-title {
    div {
      display: inline-block;
      vertical-align: middle;
      margin: 0 $spacing-elements / 2;
    }
    .avatar {
      width: 35px;
      height: 35px;
      padding: 2px;
      border-radius: 100%;
      overflow: hidden;
      img {
        border-radius: 100%;
      }
    }
  }

  .clear {
    clear: both;
  }

  .messages {
    font-size: 1.6rem;
    .message {
      display: block;
      max-width: 80%;
      margin: 0 0 0.5em;
      border-radius: 5px;
      padding: 0.5em 1em;
      line-height: 2rem;
    }
    .message1 {
      position: relative;
      background-color: $background-color-main;
      float: right;
      color: #FFFFFF;
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $background-color-main;
      }
    }
    .message2 {
      position: relative;
      background-color: #FFFFFF;
      float: left;
      color: $text-primary;
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #FFFFFF;
      }
    }
    .thumb1 {
      background-color: #FFF;
      padding: 1em;
      margin: 0 0 0.5em;
      border-radius: 1em;
    }
    .thumb2 {
      background-color: #9170b1;
      padding: 0.8em;
      margin: 0 0 0.5em;
      border-radius: 1em;
    }
  }
  .footer {
    position: absolute;
    width: 100%;
    padding: 0 $spacing-elements;
    .text-message {
      position: relative;
      background-color: #FFFFFF;
      border-radius: 5px;
      img {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
      }
    }
    ion-col {
      padding: 0;
      margin: 0;
    }
    button {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #00967d;
      margin: 0 auto;
      padding: $spacing-elements;
    }
  }
}
