<ion-header class="chat">
  <ion-navbar color="dark">
    <ion-title>
      <div *ngIf="user2.type_user == 'Superador'" class="avatar background-color-overcomer"><img [src]="user2.avatar"></div>
      <div *ngIf="user2.type_user == 'Anjo'" class="avatar background-color-angel"><img [src]="user2.avatar"></div>
      <div *ngIf="user2.type_user == 'Arcanjo'" class="avatar background-color-archangel"><img [src]="user2.avatar"></div>
      <div class="name">{{ user2.name }}</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="chat">
  <div class="message" *ngFor="let item of listMessages">
    <div [ngClass]="getClassMsg(item.uid_user)">
      {{ item.msg }}
    </div>
    <div class="clear"></div>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>


<!-- ==== ION FOOTER ==== -->
<ion-footer class="chat">
  <form (ngSubmit)="sendMessage()">
    <ion-grid>
      <ion-row class="footer">
        <ion-col width-80>
          <ion-input type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" placeholder="Digite alguma coisa..."> </ion-input>
        </ion-col>
        <ion-col width-20>
          <button ion-button round icon-only> <ion-icon name="md-arrow-dropright"> </ion-icon> </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
