<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <div class="calendar">
        <div class="event-title"> <span [ngClass]="typeEvent"> </span> </div>
        <div class="event-title"> {{ typeEvent }} </div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-color-dark">
  <form [formGroup]="formEvent" (ngSubmit)="insertEvent(formEvent.value)">
    <div class="input-field">
      <ion-input *ngIf="typeEvent == 'Consulta'" placeholder="Médico" type="text" formControlName="title"></ion-input>
      <ion-input *ngIf="typeEvent == 'Consulta'" placeholder="Especialidade" type="text" formControlName="typeOfMedic"></ion-input>
      <ion-input *ngIf="typeEvent == 'Exame'" placeholder="Tipo do exame" type="text" formControlName="title"></ion-input>
      <ion-input *ngIf="typeEvent == 'Procedimento'" placeholder="Tipo do procedimento" type="text" formControlName="title"></ion-input>
      <ion-input *ngIf="typeEvent == 'Internação'" placeholder="Motivo" type="text" formControlName="title"></ion-input>
      <ion-input *ngIf="typeEvent == 'Pessoal'" placeholder="Titulo" type="text" formControlName="title"></ion-input>
      <ion-input placeholder="Local" type="text" formControlName="address"></ion-input>
    </div>

    <div class="input-field">
      <div class="datetime">
        <label> Começa </label>
        <div class="date">
          <ion-item>
              <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" formControlName="startDate"> </ion-datetime>
          </ion-item>
        </div>
        <div class="time">
          <ion-item>
              <ion-datetime displayFormat="H:mm" pickerFormat="H:mm" formControlName="startTime"> </ion-datetime>
          </ion-item>
        </div>
      </div>
      <div class="datetime">
        <label> Termina </label>
        <div class="date">
          <ion-item>
              <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" formControlName="endDate"> </ion-datetime>
          </ion-item>
        </div>
        <div class="time">
          <ion-item>
              <ion-datetime displayFormat="H:mm" pickerFormat="H:mm" formControlName="endTime"> </ion-datetime>
          </ion-item>
          </div>
        </div>
    </div>

    <div class="input-field">
      <ion-row (click)="addNeedBring()">
        <ion-col width-80> <p> O que preciso levar </p> </ion-col>
        <ion-col width-20> <ion-icon name="md-add-circle">  </ion-icon> </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of countItems; let i = index;" (click)="clickItem(i)">
        <ion-col width-80>
          <input placeholder="Digite o seu item" [(ngModel)]="needBrings[i]" [ngModelOptions]="{standalone: true}" type="text">
        </ion-col>
        <ion-col width-20>
          <ion-icon *ngIf="i == showCloseItem" name="close"  (click)="closeItem(i)"> </ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="typeEvent == 'Consulta'">
        <ion-col width-80 (click)="addQuestions()"> <p> Perguntas a fazer </p> </ion-col>
        <ion-col width-10 (click)="openQuestions()"> <ion-icon name="md-search"> </ion-icon> </ion-col>
        <ion-col width-10 (click)="addQuestions()"> <ion-icon name="md-add-circle"> </ion-icon> </ion-col>
      </ion-row>
      <ng-container *ngIf="typeEvent == 'Consulta'">
        <ion-row *ngFor="let item of countItemsQuestions; let i = index;" (click)="clickItemQuestion(i)">
          <ion-col width-80>
            <input placeholder="Digite o seu item" [(ngModel)]="questions[i]" [ngModelOptions]="{standalone: true}" type="text">
          </ion-col>
          <ion-col width-20>
            <ion-icon *ngIf="i == showCloseQuestionItem" name="close" (click)="closeItemQuestion(i)"> </ion-icon>
          </ion-col>
        </ion-row>
      </ng-container>
      <ion-textarea placeholder="Observações" formControlName="comments"></ion-textarea>
      <ion-item>
        <ion-label> Compartilhado </ion-label>
        <ion-toggle formControlName="share"></ion-toggle>
      </ion-item>
    </div>
    
    <button ion-button full clear [disabled]="!formEvent.valid"> Concluir </button>
  </form>

</ion-content>
