<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"> </ion-icon>
    </button>
    <ion-title> Meu perfil </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-color-dark">
  <div class="avatar" (click)="openEdit()">
    <div class="thumb">
      <img [src]="user?.avatar" [ngClass]="thumbClass" />
      <div [hidden]="user?.type_user != 'Superador'" class="emotion">
        <img [src]="user?.emotion?.img">
      </div>
    </div>
    <div class="name"> {{ user?.name }} </div>
    <div class="type"> {{ user?.type_user }} </div>
  </div>

  <div class="profile-datas">
    <div class="datas">
      <div class="right">
        <div class="title"> {{ user?.occupation }} </div>
        <div class="title"> {{ user?.city }} </div>
        <div class="title">{{ user?.state }} </div>
      </div>
      <div class="left">
        <div class="title"> {{ verifyRelationship(user?.relationship) }}  </div>
        <div class="title"> {{ user?.children }} filhos </div>
      </div>
      <div class="clear"> </div>
    </div>

    <div class="datas" *ngIf="user?.other_datas.healing_phrase">
      <div class="title"> Frase de cura </div>
      <div class="text"> {{ user?.other_datas.healing_phrase }} </div>
    </div>

    <div class="datas" *ngIf="user?.other_datas.phrase_of_difficulties">
      <div class="title"> Dificuldades </div>
      <div class="text"> {{ user?.other_datas.phrase_of_difficulties }} </div>
    </div>

    <div class="datas" *ngIf="user?.cancer_name">
      <div class="title"> Nome do cancer </div>
      <div class="text"> {{ user.cancer_name }} </div>
    </div>

    <div class="datas" *ngIf="parseInt(user?.type_cancer.metastase) || parseInt(user?.type_cancer.reicidiva)">
      <div class="title"> Tipo do cancer </div>
      <div class="text">
        <ul>
          <li *ngIf="parseInt(user?.type_cancer.metastase)">Metastase</li>
          <li *ngIf="parseInt(user?.type_cancer.reicidiva)">Reicidiva</li>
        </ul>
      </div>
    </div>
    <div class="datas" *ngIf="parseInt(user?.treatment.cirurgia) || parseInt(user?.treatment.quimioterapia) || parseInt(user?.treatment.radiografia) ||
    parseInt(user?.treatment.terapia_oval) || parseInt(user?.treatment.terapia_oral) || parseInt(user?.treatment.terapia_naturais)">
      <div class="title"> Tratamentos realizados </div>
      <div class="text">
        <ul>
          <li *ngIf="parseInt(user?.treatment.cirurgia)">Cirurgia</li>
          <li *ngIf="parseInt(user?.treatment.quimioterapia)">Quimioterapia</li>
          <li *ngIf="parseInt(user?.treatment.radiografia)">Radiografia</li>
          <li *ngIf="parseInt(user?.treatment.terapia_oval)">Terapia oval</li>
          <li *ngIf="parseInt(user?.treatment.terapia_oral)">Terapia oral</li>
          <li *ngIf="parseInt(user?.treatment.terapia_naturais)">Terapia naturais</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
