page-profile, page-edit-profile {
  .avatar {
    height: 45%;
    padding-top: 20px;
    text-align: center;
    .thumb {
      display: inline-block;
      width: 10rem;
      height: 10rem;
      margin-bottom: 20px;
      padding: 0.4rem;
      border-radius: 100%;
      .emotion {
        float: left;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 10px;
      }
      img {
        padding: 5px;
        border-radius: 100%;
      }
    }
    .name {
      font-weight: bold;
      font-size: 2.3rem;
      color: $text-secondary;
    }
    .type {
      font-size: 1.6rem;
      color: $text-primary;
    }
  }
  .profile-datas {
    background: #FFF;
    font-size: $font-size;
    .title {
      font-weight: bold;
      color: $text-secondary;
    }
    .text {
      color: $text-light;
    }
    .datas {
      padding: $spacing-elements;
      border-bottom: solid 1px #DDD;
      &:last-child {
        border-bottom: none;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
    .clear {
      clear: both;
    }
  }

  .profile-options-container {
    .profile-options-label {
      color: lighten($text-primary, 20%);
    }
    > * {
      padding: $spacing-elements / 2 0;
    }
    ion-col[col-2] {
      text-align: center;
    }
  }

}
