<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> Aviso de medicamentos </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="background-dark" padding>
  <div class="my-space-add-button">
    <button ion-button icon-only round (click)="newEvent()">
      <ion-icon name="add"> </ion-icon>
    </button>
   </div>

  <div class="my-space-list" *ngFor="let medicine of medicines | async">
    <div class="header medicines">
      <ion-row (click)="editEvent(medicine)" class="container">
        <ion-col width-33> {{ medicine.title | truncate:"8" }} </ion-col>
        <ion-col width-33> {{ medicine.dosage }}mg </ion-col>
        <ion-col width-33> {{ medicine.conc | truncate:"8"  }}</ion-col>
      </ion-row>
      <div class="icon" (click)="removeEvent(medicine)"> <ion-icon name="md-close"> </ion-icon> </div>
    </div>

    <div class="content" (click)="editEvent(medicine)">
      <ion-row class="container">
        <ion-col width-25> 0:00h </ion-col>
        <ion-col width-25 class="highlight"> 6:00h </ion-col>
        <ion-col width-25> 12:00h </ion-col>
        <ion-col width-25> 16:00h </ion-col>
      </ion-row>
      <div class="icon"> <ion-icon name="ios-arrow-forward"> </ion-icon> </div>
    </div>

    <div *ngIf="medicine.obs" class="obs"> Obs: {{ medicine.obs }} </div>
  </div>
</ion-content>
