<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> Aviso de medicamentos  </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="background-dark">
  <ion-grid class="title">
    <ion-row>
      <ion-col width-25>
        <p> Hora </p>
      </ion-col>

      <ion-col width-50>
        <p> Medicamento </p>
      </ion-col>

      <ion-col width-25>
        <p class="dosage"> Dosage </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <!--<div class="item" *ngIf="isEmpty">
      <p class="empty"> Nenhum evento disponivel no momento  </p>
    </div>-->
    <ion-item-sliding *ngFor="let medicine of medicines | async">
      <ion-item class="simple-item">
        <ion-grid>
          <ion-row>
            <ion-col width-20>
              <p> {{ medicine.start_at | customDate:"t" }}h </p>
            </ion-col>

            <ion-col width-50>

              <p> {{ medicine.title | truncate:"15" }} </p>
            </ion-col>

            <ion-col width-20>
              <p> {{ medicine.dosage }} {{ medicine.conc | truncate:"5" }} <p>
            </ion-col>

            <ion-col width-10>
              <ion-icon name="ios-arrow-forward" class="arrow"> </ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" icon-only (click)="removeEvent(medicine)">
          <ion-icon name="trash"> </ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="add" (click)="newEvent()"> Adicionar novo <ion-icon name="md-add-circle"> </ion-icon> </div>

</ion-content>
