<ion-header>
  <ion-navbar color="dark">
    <ion-title> Superação </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="auth">
  <ion-row>
    <ion-col col-6 class="description">
      <img src="./assets/images/logo-angel-6.svg" />
    </ion-col>
    <ion-col col-6>
      <p class="speech-bubble">Vamos completar seu cadastro!</p>
    </ion-col>
  </ion-row>
  <form #basicDatasForm="ngForm">
    <ion-item *ngIf="!facebookDatas">
      <ion-input type="email"
      placeholder="*E-mail"
      name="email"
      [(ngModel)]="user.participant_profile_attributes.email"
      email
      required>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!facebookDatas">
      <ion-input type="password"
      placeholder="*Senha"
      name="password"
      [(ngModel)]="credentias.password"
      minlength="6"
      required></ion-input>
    </ion-item>
    <ion-item *ngIf="!facebookDatas">
      <ion-input type="text"
      placeholder="*Sobrenome"
      name="last_name"
      [(ngModel)]="user.participant_profile_attributes.last_name"
      minlength="3"
      required></ion-input>
    </ion-item>
    <ion-row *ngIf="!facebookDatas">
      <ion-col col-6>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY"
          placeholder="*Data de nascimento"
          name="birthdate"
          [(ngModel)]="user.participant_profile_attributes.birthdate"
          required></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-select placeholder="*Genero"
          name="genre"
          [(ngModel)]="user.participant_profile_attributes.genre"
          required>
            <ion-option *ngFor="let genre of genres">{{ genre }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
      <ion-item>
        <ion-input type="text"
        placeholder="Cidade"
        name="city"
        [(ngModel)]="user.participant_profile_attributes.city">
        </ion-input>
      </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-input type="text"
          placeholder="Profissão"
          name="occupation"
          [(ngModel)]="user.participant_profile_attributes.occupation"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-select placeholder="Estado"
          name="state"
          [(ngModel)]="user.participant_profile_attributes.state">
            <ion-option *ngFor="let state of states">{{ state }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-select placeholder="Tem filhos"
          name="sons"
          [(ngModel)]="user.participant_profile_attributes.sons">
            <ion-option *ngFor="let son of sons; let i = index" value="{{ i }}">{{ son }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-select placeholder="Estado civil"
          name="relationship"
          [(ngModel)]="user.participant_profile_attributes.relationship">
            <ion-option *ngFor="let relationship of relationships">{{ relationship }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-select placeholder="Tem religião"
          name="belief"
          [(ngModel)]="user.participant_profile_attributes.belief">
            <ion-option *ngFor="let belief of beliefs">{{ belief }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="description">
      <p>Confira nossos termos de uso. Se concorda clique abaixo:</p>
      <div (click)="clickCheckTerms()">
        <button class="simple-radio-button" [ngClass]="{'simple-radio-button-selected' : isRadioButtonClass}"></button>
        Aceito os termos de uso
      </div>
    </div>
    <button class="auth-button"
    [disabled]="!basicDatasForm.form.valid || !isRadioButtonClass"
    (click)="nextPage()">
      Continuar cadastro
    </button>
  </form>

</ion-content>
