// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


@font-face {
  font-family: 'lato';
  src: url('../assets/fonts/Lato-Regular.woff?ngpcqs') format('woff'),
       url('../assets/fonts/Lato-Regular.woff2?ngpcqs') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$font-family : "lato";

$text-color: #000;
$background-color:  #fff;
$text-primary : #808080;
$text-secondary: #666;
$text-light : #888888;
$background-dark: #f7f7f7;
$background-main: #c099ea;
$background-blue: #5da0d2;
$background-light: #f5f5f5;

$overcomer-color: #f2be38;
$angel-color: #5da0d2;
$archangel-color: #228c25;

$my-space-red: #f44a75;
$my-space-green: #4aca81;
$my-space-blue: #7894ff;
$my-space-yellow: #e3b73e;




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #5da0d2,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       rgb(184, 104, 243),
  favorite:   #69BB7B,
  main:       #e3e0e6,
  facebook  : #3b5998
);

$event-colors: (
  Consulta: #64dab8,
  Exame: #c38cdd,
  Procedimento: #7894ff,
  Internação: #f76e8e,
  Pessoal: #7ae842
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// Custom scass
@import '../pages/trinity/trinity';
@import '../pages/trinity/archangel/missions/details/details';
@import '../pages/trinity/archangel/missions/historical/historical';

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
