* {
  font-family: $font-family;
}

.background-color-dark {
  background: $background-color-dark;
}

ion-footer {
  &::before {
    background: none !important;
  }
}

.menu {
  ion-col {
    color: #696969;
  }
}

.simple-item {
  padding: 0 !important;
  div {
    padding-left: 8px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #DDD;
}

.ion-ios-agenda, .ion-md-agenda {
 content: url(../assets/images/agenda.svg);
 width: 24px;
 height: 32px;
 padding: 6px 4px 2px;
 opacity: 0.9;
}

.ion-ios-anjos, .ion-md-anjos {
  content: url(../assets/images/anjos.svg);
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-perfil, .ion-md-perfil {
  content: url(../assets/images/perfil.svg);
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.error-field {
  display: block;
  background: #f2dede;
  color: #a94442;
  margin-top: 0.5rem;
  padding: 0.6em;
  margin-left: 16px;
}

.custom-segment {
  ion-segment-button {
    height: 4rem !important;
    line-height: 4.5rem !important;
    border: none !important;
    color: $background-color-blue !important;
    background: none !important;
  }

  span {
    position: relative;
    left: 5px;
    bottom: 5px;
  }

  .segment-activated {
    background: #e7e7e7 !important;
  }
}

.input-field {
  margin: ($spacing-elements * 3) 0;
  .item-inner {
    border-bottom: none !important;
    padding: none !important;
  }
  > * {
    background-color: #FFF;
    padding: $spacing-elements / 2;
    border-bottom: solid 1px #DDD;
    font-size: $font-size !important;
    &:last-child {
      border: none;
    }
  }
  .datetime {
    color: $text-light;
    > * {
      display: inline-block;
    }
  }
  ion-select, ion-label, select {
    color: $text-light;
  }
  select {
    margin-top: 10px;
    border: none;
    background: none;
    box-shadow: none;
  }
  span {
    display: block;
    text-align: center;
  }
}
