* {
  font-family: $font-family;
}

.background-dark {
  background: $background-dark;
}


ion-footer {
  &::before {
    background: none !important;
  }
}

.menu {
  ion-col {
    color: #696969;
  }
}

.simple-item {
  padding: 0 !important;

  div {
    padding-left: 8px;
  }
}

.ion-ios-agenda, .ion-md-agenda {
 content: url(../assets/images/agenda.svg);
 width: 24px;
 height: 32px;
 padding: 6px 4px 2px;
 opacity: 0.9;
}

.ion-ios-anjos, .ion-md-anjos {
  content: url(../assets/images/anjos.svg);
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-perfil, .ion-md-perfil {
  content: url(../assets/images/perfil.svg);
  width: 24px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.error-field {
  display: block;
  background: #f2dede;
  color: #a94442;
  margin-top: 0.5rem;
  padding: 0.6em;
  margin-left: 16px;
}
