<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Anjos </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="trinity background-color-dark" *ngIf="verifyNetwork === true">
    <div class="trinity-card" *ngFor="let trinity of trinitys | async; let i = index">
      <div class="trinity">
        <div class="main-datas">
          <ion-row>
            <ion-col width-25 class="avatar" (click)="openChat(trinity.angel, trinity.overcomer)">
              <figure class="background-color-overcomer">
                <img [src]="trinity.overcomer?.avatar" />
              </figure>
            </ion-col>
            <ion-col width-50 [ngClass]="{'description': true, 'notification' : (overcomerNotification[i] | async)?.view }" (click)="openChat(trinity.angel, trinity.overcomer)">
              <h5>{{ trinity.overcomer.type_user }}</h5>
              <h2>{{ trinity.overcomer.name }}</h2>
              <p class="message" *ngIf="!(trinity.overcomer?.lastMessages | async)"> Não há nenhuma mensagem disponivel </p>
              <p class="message" *ngIf="(trinity.overcomer?.lastMessages | async)?.msg "> {{ (trinity.overcomer?.lastMessages | async)?.msg | truncate:20 }} </p>
              <p class="message" *ngIf="(trinity.overcomer?.lastMessages | async)?.created_at" class="hour"> {{ (trinity.overcomer?.lastMessages | async)?.created_at | customDate:"c" }} </p>
            </ion-col>
            <ion-col width-25 class="others" (click)="openPublicEvents(trinity.overcomer)">
              <img src="./assets/images/calendar.svg">
            </ion-col>
          </ion-row>
        </div>

        <div class="sub-datas">
          <ion-row>
            <ion-col width-75 (click)="openChat(trinity.angel, trinity.archangel)">
              <div class="avatar">
                <figure class="background-color-archangel">
                  <img [src]="trinity.archangel.avatar" />
                </figure>
                <div [ngClass]="{'name': true, 'notification' : (archangelNotification[i] | async)?.view }">
                  <h5>{{ trinity.archangel.type_user }}</h5>
                  <h2>{{ trinity.archangel.name }}</h2>
                </div>
              </div>
            </ion-col>
            <ion-col width-25>
              <button ion-button color="light" clear>Ajuda</button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
</ion-content>

<ion-content class="message-offline background-color-dark" *ngIf="verifyNetwork === false">
    <h2>Sem conexão</h2>
    <ion-icon name="ios-wifi"></ion-icon>
</ion-content>
