<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Anjos </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="trinity background-color-dark">
    <div class="trinity-card status" (click)="openStatusEmotion()">
      <p class="text-center"> Diga ao seu anjo como está se sentindo: </p>
      <div class="emotion">
        <img class="emoji" [src]="(overcomerObs | async)?.emotion?.img" />
        <p class="text-center"><b>Sentindo-se {{ (overcomerObs | async)?.emotion?.status }}</b></p>
      </div>
    </div>

    <div class="trinity-card">
      <div class="trinity">
        <div class="main-datas">
          <ion-row>
            <ion-col width-25 class="avatar">
              <figure class="background-color-overcomer">
                <img [src]="angel?.avatar" />
              </figure>
            </ion-col>
            <ion-col width-50 class="description" (click)="openChat(overcomer, angel)">
              <h5>{{ angel?.type_user }}</h5>
              <h2>{{ angel?.name }}</h2>
              <p class="message" *ngIf="!(angel?.lastMessages | async)"> Não há nenhum mensagem disponivel </p>
              <p class="message" *ngIf="(angel?.lastMessages | async) && !(angel?.lastMessages | async)?.msg"> O {{ angel?.name }} enviou uma imagem </p>
              <p class="message" *ngIf="(angel?.lastMessages | async)?.msg"> {{ (angel?.lastMessages | async)?.msg | truncate:20 }} </p>
              <p class="date" *ngIf="(angel?.lastMessages | async)?.created_at" class="hour"> {{ (angel?.lastMessages | async)?.created_at | customDate:"c" }} </p>
            </ion-col>
            <ion-col width-25 class="others">
              <ion-icon name="md-calendar" (click)="openPublicEvents(angel)"> </ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div class="sub-datas">
          <ion-row>
            <ion-col width-75 (click)="openChat(overcomer, archangel)">
              <div class="avatar">
                <figure class="background-color-angel">
                  <img [src]="archangel?.avatar" />
                </figure>
                <div class="name">
                  <h5>{{ archangel?.type_user }}</h5>
                  <h2>{{ archangel?.name }}</h2>
                </div>
              </div>
            </ion-col>
            <ion-col width-25>
              <button ion-button color="light" clear>Ajuda</button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!-- ========= USERS CHAT =========== -->
    <!-- <div class="chat-user">
      <ion-grid>
        <ion-row [ngClass]="{'text-notification': !(angelNotification | async)?.view}">
          <ion-col width-40 (click)="openChat(overcomer, angel)">
            <div class="avatar angel">
              <img [src]="angel?.avatar" />
            </div>
          </ion-col>

          <ion-col width-40 (click)="openChat(overcomer, angel)">
            <h4> {{ angel?.name }} </h4>
            <div class="message">
              <p *ngIf="!(angel?.lastMessages | async)"> Não há nenhum mensagem disponivel </p>
              <p *ngIf="(angel?.lastMessages | async) && !(angel?.lastMessages | async)?.msg"> O {{ angel?.name }} enviou uma imagem </p>
              <p *ngIf="(angel?.lastMessages | async)?.msg"> {{ (angel?.lastMessages | async)?.msg | truncate:20 }} </p>
              <p *ngIf="(angel?.lastMessages | async)?.created_at" class="hour"> {{ (angel?.lastMessages | async)?.created_at | customDate:"c" }} </p>
            </div>
          </ion-col>

          <ion-col width-20>
            <ion-icon name="md-calendar" (click)="openPublicEvents(angel)"> </ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="user-archangel">
            <div class="avatar archangel">
              <img [src]="archangel?.avatar" />
            </div>
            <div class="user" (click)="openChat(overcomer, archangel)" [ngClass]="{'second-notification': !(archangelNotification | async)?.view}"> Arcanjo: {{ archangel?.name }} </div>
            <div class="help">Ajuda</div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div> -->

</ion-content>
