<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> Anjos </ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="trinity">
    <!-- ========= STATUS =========== -->
    <div class="trinity-card status" (click)="openStatusEmotion()">
      <p> Diga ao seu anjo como está se sentindo: </p>
      <div class="emotion">
        <img class="emoji" [src]="(overcomerObs | async)?.emotion?.img">
        <p><b>Sentindo-se {{ (overcomerObs | async)?.emotion?.status }}</b></p>
      </div>
    </div>

    <div class="trinity-card">
      <div class="trinity">
        <div class="main-datas">
          <ion-row>
            <ion-col width-25 class="avatar">
              <img [src]="angel?.avatar" />
            </ion-col>
            <ion-col width-50 class="description">
              <h2>{{ angel?.type_user }}</h2>
              <h1>{{ angel?.name }}</h1>
              <p class="message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit, nisi eu sodales faucibus
              </p>
              <p class="date">14:33h</p>
            </ion-col>
            <ion-col width-25 class="others">
              <ion-icon name="md-calendar" (click)="openPublicEvents(angel)"> </ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <div class="sub-datas">
          <ion-row>
            <ion-col width-50>
              <div class="avatar"></div>
            </ion-col>
            <ion-col width-50>
              <p>Ajuda</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!-- ========= USERS CHAT =========== -->
    <!-- <div class="chat-user">
      <ion-grid>
        <ion-row [ngClass]="{'text-notification': !(angelNotification | async)?.view}">
          <ion-col width-40 (click)="openChat(overcomer, angel)">
            <div class="avatar angel">
              <img [src]="angel?.avatar" />
            </div>
          </ion-col>

          <ion-col width-40 (click)="openChat(overcomer, angel)">
            <h4> {{ angel?.name }} </h4>
            <div class="message">
              <p *ngIf="!(angel?.lastMessages | async)"> Não há nenhum mensagem disponivel </p>
              <p *ngIf="(angel?.lastMessages | async) && !(angel?.lastMessages | async)?.msg"> O {{ angel?.name }} enviou uma imagem </p>
              <p *ngIf="(angel?.lastMessages | async)?.msg"> {{ (angel?.lastMessages | async)?.msg | truncate:20 }} </p>
              <p *ngIf="(angel?.lastMessages | async)?.created_at" class="hour"> {{ (angel?.lastMessages | async)?.created_at | customDate:"c" }} </p>
            </div>
          </ion-col>

          <ion-col width-20>
            <ion-icon name="md-calendar" (click)="openPublicEvents(angel)"> </ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="user-archangel">
            <div class="avatar archangel">
              <img [src]="archangel?.avatar" />
            </div>
            <div class="user" (click)="openChat(overcomer, archangel)" [ngClass]="{'second-notification': !(archangelNotification | async)?.view}"> Arcanjo: {{ archangel?.name }} </div>
            <div class="help">Ajuda</div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div> -->

</ion-content>
