.calendar-picker {
  padding: 16px;
  .month-name {
    margin: $spacing-elements 0;
    width: 100%;
    > * {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      width: 100px;
      margin: 0;
      font-size: 1.8rem;
      text-align: center;
      text-transform: uppercase;
      color: $text-secondary;
    }
    .arrow {
      ion-icon {
        color: rgba(128, 128, 128, 0.65);
        font-size: 2rem;
      }
    }
    .add {
      float: right;
      button {
        background: $background-color-blue;
        box-shadow: none;
      }
      ion-icon {
        color: #FFF;
        font-size: 1.9rem;
      }
    }
    button {
      width: 30px;
      height: 30px;
      float: right;
      border-radius: 100%;
    }
  }

  .grid-calendar {
    > div {
      width: 14.28571%;
      float: left;
    }
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  .week-name {
    text-align: center;
    color: $text-secondary;
    font-size: 1.4rem;
  }

  .day {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1em;
    text-align: center;
    background: white;
    cursor: pointer;
    color: $text-primary;

    & span {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
    }

    &:first-child {
      border-left:none;
    }

    &.today span {
      background: #e4e2e2;
      border-radius: 100%;
    }

    &.different-month {
      color: $text-light;
    }

    &.selected span {
      font-weight: bold;
      background: #6abfd6;
      border-radius: 100%;
      color: #FFF;
    }

    .event-mark {
      display: inline-block;
      margin-left: 2px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #000;
    }

    @each $name, $value in $event-colors {
      .#{$name} {
        background: $value;
      }
    }
  }
}
