<div class="calendar-picker">
  <div class="month-name">
    <div class="arrow">
      <button ion-button icon-only clear (click)="previousMonth()">
        <ion-icon name="ios-arrow-back"> </ion-icon>
      </button>
    </div>
    <p> {{ month.format("MMM, YYYY") }} </p>
    <div class="arrow">
      <button ion-button icon-only clear (click)="nextMonth()">
        <ion-icon name="ios-arrow-forward"> </ion-icon>
      </button>
    </div>
    <div class="add">
      <button ion-button icon-only round (click)="addEvent()">
        <ion-icon name="add"> </ion-icon>
      </button>
    </div>
  </div>
  <div class="week-name grid-calendar">
    <div> DOM </div>
    <div> SEG </div>
    <div> TER </div>
    <div> QUA </div>
    <div> QUI </div>
    <div> SEX </div>
    <div> SAB </div>
  </div>
  <div class="week grid-calendar" *ngFor="let week of weeks">
    <div class="day"
    [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected)}"
    (click)="select(day)"
    *ngFor="let day of week.days">
      <span> {{ day.number }} </span>
      <div *ngIf="day.marks">
        <div *ngFor="let mark of day.marks" class="event-mark" [ngClass]="mark"> </div>
      </div>
    </div>
  </div>
</div>
