page-apresentation {

  ion-content {
    text-align: center;

    .logo {
      color: $text-primary;
      font-size: 7rem;
    }

    .message {
      color: #746288;
      font-weight: bold;
      line-height: 30px;
      font-size: 1.6rem;
    }
  }
}
